body {
  background-color: #7FDBFF;
  font-size: 62%;
}

.board {
  font-size: 1.6rem;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: .5rem;
  max-width: 30%;
  height: auto;
  margin: 1rem;
}

.card img {
  width: 100%;
}